/.venv
/2ip.py
/black_jack
/choice_color
/color_text.py
/hack
/helloworld
/index.html
/lottery.py
/message.txt
/rev_shell.py
/secure_spoofer.py
/shell_server.py
/smtp_spoofer.py
/template.html
/webserver